@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}
